.Empreendimento {
    height: 100%;

    .toast {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 1rem;
    }
    
    .row {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .unidades {
        padding: 0;
        height: 100%;
        display: flex;
        flex-flow: column;
        
        .heading {
            padding: 1.5rem;
            border-bottom: solid 1px #A6ACBD;
        }

        .ListCabanas {
            flex: 1 1 auto;
        }
    }

    .mapa {
        background-color: green;
    }
}