.Empreendimento {
    height: 100%;
    
    .row {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .unidades {
        padding: 0;
        height: 100%;
        display: flex;
        flex-flow: column;
        
        .heading {
            padding: 1rem 1rem 1.25rem;
            border-bottom: solid 1px #A6ACBD;
        }

        .list-unidades {
            flex: 1 1 auto;

            padding-right: 1rem;
            overflow-y: scroll;

            .unidade-card {
                border-bottom: solid 1px #E5E7ED;
                padding: 1rem;

                display: flex;

                .foto {
                    img {
                        height: 50px;
                        width: 50px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }

                .info {
                    .nome {
                        font-weight: 600;
                        color: #051133;
                    }

                    .caracter {
                        font-size: .875rem;
                        color: #4C516F;
                    }

                    .valor-base {
                        font-weight: 600;
                        color: #4C516F;
                    }
                }
            }
        }
    }

    .mapa {
        background-color: green;
    }
}